@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes openSidebar {
  from {
    width: 0;
  }

  to {
    width: 50%;
  }
}

@keyframes closeSidebar {
  from {
    width: 50%;
  }

  to {
    width: 0%;
  }
}

@keyframes LanguageBar {
  from {
    height: 0px;
  }

  to {
    height: 190px;
  }
}

@keyframes CloseLanguageBar {
  from {
    height: 190px;
  }

  to {
    height: 0px;
  }
}

#LogoContainer {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 3s linear infinite;
}

.ratate {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 7s linear infinite;
}

.openingSidebar {
  animation: openSidebar 1s linear;
}

.closingSidebar {
  animation: closeSidebar 1s linear;
}

.LanguageAnimation {
  animation: LanguageBar 1s linear;
}

.CloseLanguageBarAnnimation {
  animation: CloseLanguageBar 1.5s linear;
}